
$font-primary: 'Nunito Sans',Arial, sans-serif;

$white: #fff;
$black: #000000;
$darken: #233e62;

$primary: #1b9ce3;
$secondary: #ff5db1;
$tertiary: #8cc152;
$quarternary: #f1453d;
$fifth: #5d50c6;
